body {
  font-family: sans-serif;
  margin: auto;
  background-image: url("img/bg.png");
  background-repeat: repeat;
}

body.secondary {
  background-image: url("img/bg2.png");
  background-repeat: repeat;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.big {
    font-family:    Helvetica, Arial, sans-serif;
    font-size:      12vw;
    color: mediumblue
}